body {
  margin: 0;
  background-color: #f5e6d3; /* цвет, если фон временно не подгрузился */
}

.scroll-bg {
  position: relative;
  width: 100%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

.header-image {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  z-index: 1;

  opacity: 0;
  transform: translateX(-50%) translateY(-2%);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(-50%); /* финальная позиция */
  }
}

/* Контент поверх всего */
.content {
  position: relative;
  z-index: 2;
}

/* Для всех экранов по умолчанию — резина */
body,
.scroll-bg,
.content {
  width: 100%;
}

/* Только для экранов шире 768px (ПК, ноутбуки) */
@media (min-width: 769px) {
  body {
    max-width: 1200px; /* или любое другое значение */
    margin: 0 auto; /* центрируем */
    background-color: #f5e6d3; /* цвет по бокам от ограниченного контента */
  }

  .scroll-bg {
    max-width: 1200px;
    margin: 0 auto;
  }
}
